<header>
  <div class="container mb-20">
    <div class="main-header">
      <div class="logo">
        <div class="icon">
          <a href="index.html"><img src="src/img/globals/logo-linkedin.png" alt="LinkedIn"></a>
        </div>
        <span class="line">|</span>
        <div class="row">
          <div class="col">
            <div class="header-menu">
              <div ngbDropdown class="d-inline-block box-message">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Discover</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <div class="dropdown-content">
                    <div class="dropdown-content-main">
                      <a class="title" href="#">Home</a>
                      <a class="title" href="#">Messages</a>
                      <a class="title" href="#">Request</a>
                      <a class="title" href="#">Jobs</a>
                      <a class="title" href="#">Premium</a>
                    </div>
                    <div class="dropdown-line"></div>
                    <div class="dropdown-content-links">
                      <a class="title" href="#">Profile</a>
                      <a class="sub-title" href="#">Edit Profile</a>
                      <a class="sub-title"href="#">My Profile</a>
                      <a class="sub-title"href="#">Improve</a>
                      <a class="sub-title"href="#">Updates</a>
                      <a class="sub-title"href="#">Who viewed</a>
                    </div>
                    <div class="dropdown-content-links">
                      <a class="title" href="#">My network</a>
                      <a class="sub-title"href="#">Connections</a>
                      <a class="sub-title"href="#">Add contacts</a>
                      <a class="sub-title"href="#">Alumnis</a>
                      <a class="sub-title"href="#">People you know</a>
                      <a class="sub-title"href="#">Statistics</a>
                    </div>
                    <div class="dropdown-content-links">
                      <a class="title" href="#">Interests</a>
                      <a class="sub-title"href="#">Companies</a>
                      <a class="sub-title"href="#">Groups</a>
                      <a class="sub-title"href="#">Slideshare</a>
                      <a class="sub-title"href="#">Learning</a>
                    </div>
                    <div class="dropdown-content-links">
                      <a class="title" href="#">Business services</a>
                      <a class="sub-title"href="#">Post a job</a>
                      <a class="sub-title"href="#">Talent solution</a>
                      <a class="sub-title"href="#">Advertise</a>
                      <a class="sub-title"href="#">Sale solutions</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search">
        <form class="form-inline ">
          <input class="form-control mr-sm-2 search-body" type="search" placeholder="Search linkedin" aria-label="Search">
          <i class="fas fa-search"></i>
        </form>
      </div>
      <div class="infos">
        <div class="chat item">
          <a href="#"><i class="far fa-comment"></i></a>
        </div>
        <div class="flag item">
          <a href="#"><i class="far fa-flag"></i></a>
        </div>
        <div class="profile-header item ">
          <a href="#" class="d-flex"><img class="img-profile img-profile-small" src="src/img/profile/avatar.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</header>
