.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px
}
.mt-30 {
    margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-container {
  margin-top: 210px;
}

// .no-uppercase {
//   text-transform: none !important;
// }

.img-profile {
  border-radius: 50%;
}

.img-profile-small {
  width: 30px;
  height: 30px;
}

.img-profile-medium {
  width: 55px;
  height: 55px;
}

.img-profile-big {
  width: 80px;
  height: 80px;
}

.img-profile-extra {
  width: 120px;
  height: 120px;
}