$color: (
  apoio-1:                 #00A6B6,
  apoio-2:                 #CD3363,
  base:                    #1159A3,
  color-black:             #000,
  color-white:             #FFFFFF,
  danger:                  #d30000,
  primaria:                #248DC1,
  secundaria:              #0F206C,
  spinner-gray:            #303030,
  spinner-green:           #00A6B6
);

$color-white: #fff;
$background-color: #f6f8f9;
$dark-gray: #a9a8a8;
$light-gray: #adaeae;
$dark-text: #1b1d1f;
$light-blue: #1074a6;
$color-bbottom: #e9eaeb;
$color-bcard: #efeff0;
$color-icon-pen: #3092be;
$color-icon-img: #e1bb00;
$color-icon-book: #01ab5d;
$color-like: #e84c16;
$color-commnet: #00ff55;
$color-share:  #337ab7;

//Icon Socials
$color-icons: #adaeae;

//Color description company
$light-blue: #1074a6;

//Color Backgrund Skill numbers
$color-bg-skill: #0177b6;

//color background skill - users
$color-bg-user: #adaeae;

//Color Background First //Similar Profile
$color-bg-similar: #e1bb00;

//background footer-skills
$color-footer-skill: #fbfbfc;
